h2 Pages

.pages
	each page in pages
		.page
			a.page-link.ajax(href='/page/' + page.id, style=`margin-left: ${page.indent * 2}rem`)
				span.fa.fa-fw.fa-folder
				span= page.baseName

.toolbar
	button.button.ajax(href='/pages/add')
		span.fa.fa-fw.fa-plus
		span New page