if !page
	h2 Error: Page doesn't exist
else
	h2= page.id
	p
		a.ajax(href=`/edit/${path.relative(app.site.root, page.jsonPath)}`) JSON
	
	//- h3 Size
	//- 
	//- if page.css
	//- 	li= `Style (${Humanize.fileSize(page.css.length)})`
	//- 	
	//- if page.script
	//- 	li= `Script (${Humanize.fileSize(page.script.length)})`