if !page
	h2 Error: Page doesn't exist
else
	h2
		span= page.id
	h3 Files
	.files
		each file in page.files
			a.button.file.ajax(href=`/edit/${path.relative(app.site.root, path.join(page.path, file))}`)
				span.fa.fa-fw(class=fileExtensionClass(file))
				span= file
	
	h3 Tools
	.toolbar
		button(onclick='')
			span.fa.fa-fw.fa-edit
			span Rename page
			
		button(onclick='')
			span.fa.fa-fw.fa-remove
			span Delete page