.files
	display flex
	flex-flow column

.file
	padding 0.75em
	border 1px solid rgba(0, 0, 0, 0.2)
	border-radius 3px
	margin-bottom 0.25em
	&:hover
		border-color rgba(0, 0, 0, 0.3)
		background rgba(0, 0, 0, 0.05)