doctype html
html
	head
		title= app.config.title
	
	body
		header#header
			h1.title= app.site.config.title
			//- p.domain= app.site.config.domain
			nav#nav
				a.nav-link.ajax(href='/') Dash
				a.nav-link.ajax(href='/pages') Pages
				a.nav-link.ajax(href='/edit/config.json') Settings
				//- a.nav-link.ajax(href='/scripts') Scripts
				//- a.nav-link.ajax(href='/styles') Styles
		
		main#content.fade!= content
		
		//- Ace Editor
		script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js', charset='utf-8')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/theme-monokai.js')