h2 Dashboard

h3 Performance

mixin pie(title, value, limit, unit)
	.dash-graph(title=title, data-limit=limit)
		.pie
			.progress

		.detail
			span.value= value
			span.unit= unit

.dash-graphs
	+pie('Average page size', 15.7, 50, 'KB')
	+pie('Average load time', Math.round(averageResponseTime), 200, 'ms')

h3 SEO

.dash-graphs