.domain
	text-align center
	line-height 1.3em
	opacity 0.5

.dash-graph-header
	//

.dash-graphs
	display flex
	flex-flow column
	align-items center
	justify-content space-around

.dash-graph
	width 100%
	max-width 728px

.row
	display flex
	flex-flow row wrap
	padding 0.75em 1em
	border-radius 3px

	&:hover
		background-color buttonHoverBackground

.row-name
	flex 1

.value
	text-align right

.unit
	margin-left 0.3em
	opacity 0.7