h2 Dashboard

h3.dash-header Performance

mixin pie(title, value, limit, unit)
	.dash-graph(title=title, data-limit=limit)
		.pie
			.progress

		.detail
			span.value= value
			span.unit= unit

.dash-graphs
	+pie('Average code size', Math.round(averageCodeSize / 1024), 50, 'KB')
	+pie('Average response time', Math.round(averageResponseTime), 200, 'ms')