h2 New page

datalist#page-id-list
	each pageId in pageIdList
		option(value=pageId)

input(id='page-id', type='text', list='page-id-list')

.page-element
	input(id='jade', type='checkbox')
	label .jade
	
.page-element
	input(id='js', type='checkbox')
	label .js
	
.page-element
	input(id='styl', type='checkbox')
	label .styl
	
.page-element
	input(id='json', type='checkbox')
	label .json
	
.page-element
	input(id='jsonld', type='checkbox')
	label .jsonld
	
.page-element
	input(id='md', type='checkbox')
	label .md

.toolbar
	button(onclick='window.createPage();')
		span.fa.fa-fw.fa-check
		span Create