body
	font-family "Open Sans", "Ubuntu", sans-serif
	font-size 16px
	color textColor

a
	color linkColor
	text-decoration none

	&:hover
		color hoverColor
		background-color hoverBackground

#header
	padding 0 1rem
	background headerBackground
	color headerTextColor

#content
	padding 0 1rem

.domain
	line-height 1.3em
	opacity 0.5

button
	padding 0.4em 0.8em
	font-family inherit