body
	font-family "Open Sans", sans-serif

a
	color linkColor
	text-decoration none

	&:hover
		color hoverColor
		background-color hoverBackground

#header
	padding 0 1rem
	background-color headerBackground

#content
	padding 0 1rem

h1
	font-size 2em
	line-height 1.5em
	padding 0.4em 0

h2
	font-size 1.5em
	line-height 1.5em
	padding 0.4em 0

.domain
	line-height 1.3em
	opacity 0.5