html, body
	height 100%

body
	font-family "Open Sans", "Ubuntu", sans-serif
	font-size 16px
	color textColor
	display flex
	flex-flow column

a
	color linkColor
	text-decoration none

	&:hover
		color hoverColor

p
	padding 0.5em 0

#header
	padding 0 1rem
	background headerBackground
	color headerTextColor
	flex-grow 0

#content
	padding 1rem
	flex-grow 1

.toolbar
	margin 0.4em 0
	display flex
	flex-flow row wrap
	button
		margin-right 0.25em
		&:last-child
			margin-right 0

.title
	display none

.domain
	line-height 1.3em
	opacity 0.5

span.fa
	margin-right 0.4em