textColor = rgb(96, 108, 113)
linkColor = rgba(0, 0, 0, 0.5)
hoverColor = rgba(0, 0, 0, 0.9)
navLinkColor = rgba(255, 255, 255, 0.5)
navHoverColor = rgb(252, 252, 252)
navHoverBackground = rgba(255, 255, 255, 0.2)
activeColor = rgb(255, 255, 255)
headerTextColor = rgb(252, 252, 252)
mainColor = rgb(21, 87, 153)
accentColor = rgb(21, 153, 87)
headerBackground = rgb(60, 60, 60)
buttonTextColor = black
buttonBorderColor = rgba(0, 0, 0, 0.2)
buttonHoverBackground = rgba(0, 0, 0, 0.05)
buttonPressedColor = white
buttonPressedBackground = rgb(32, 32, 32)
checkboxCheckedBackground = mainColor