.wallpaper
	background-color rgb(38, 38, 38)
	background-size cover
	display flex
	align-items center
	justify-content center

.login-button
	padding 1em
	background-color white
	color rgb(32, 32, 32)
	border-radius 3px
	opacity 0.8
	transition opacity 250ms ease

	&:hover
		opacity 1.0