#nav
	display flex
	flex-flow row wrap
	justify-content center

.nav-link
	font-size 1.5rem
	color navLinkColor
	padding 0.75rem 1rem

	&:hover
		color navHoverColor
		background navHoverBackground

	&.active
		color activeColor
		background-color headerBackground
		text-shadow 0 0 8px alpha(navHoverColor, 50%)