h2 Others

.toolbar
	a.button.ajax(href='/pages')
		span.fa.fa-sitemap
		| Pages

	a.button.ajax(href='/scripts')
		span.fa.fa-code
		| Scripts

	a.button.ajax(href='/styles')
		span.fa.fa-paint-brush
		| Styles